CustomerInfo/src/main/webapp/wsdl/CustomerRecordSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CustomerRecord/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerRecord" targetNamespace="http://www.example.org/CustomerRecord/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CustomerRecord/">
     
            
        <xsd:complexType name="Customer">
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Phone" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
     
      
       <xsd:element name="NewOperation" type="tns:Customer">
        
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="CustomerRecord">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerRecordSOAP" type="tns:CustomerRecord">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/CustomerRecord/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerRecord">
    <wsdl:port binding="tns:CustomerRecordSOAP" name="CustomerRecordSOAP">
      <soap:address location="http://localhost:8080/CustomerInfo/services/CustomerRecordSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
